# ETL (EXTRACT TRANSFORM LOAD)

In [47]:
# Importamos la librerias 
import pandas as pd 
import numpy as np

In [48]:
# traemos los datos 
data = ("Data/homicidios.xlsx")
datos= ("Data/lesiones.xlsx")

In [49]:
# cargamos los datos 
data1 = pd.read_excel(data, sheet_name="HECHOS")
data2 =  pd.read_excel(data, sheet_name="VICTIMAS")
data3= pd.read_excel(datos)

In [50]:
# COnvertimos la data en Dataframe 
df_facts = pd.DataFrame(data1)
df_vict  = pd.DataFrame(data2)
df_lesion= pd.DataFrame(data3)

#### Lesiones Dataset

In [51]:
df_lesion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB

In [52]:
df_lesion.head()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD

In [53]:
# Borraremos las columnas que tenga al menos 5 SD, igual me parece valido dejar las columnas con SD,
# porque asi nos daremos cuenta a que horario se frecuenta estos acontecimientos.
df_lesion_SD = df_lesion.replace("SD", np.nan, inplace=True)

# Definimos el umbral minimo de valores no nulos en la fila
umbral = len(df_lesion.columns) - 5

# Elimina filas que no cumplen con el umbral 
df_filtrado_le = df_lesion.dropna(thresh=umbral)

# Veamos las filas que quedaron 
print(f" Tenemos columnas y filas {df_filtrado_le.shape}")

 Tenemos columnas y filas (9956, 27)

In [54]:
def suma_duplicados(df):
    df_duplicados = pd.DataFrame({
        "Numero de Duplicados" :  df[df.duplicated()].sum(),
        "Porcentaje de Duplicados" : (df[df.duplicated()].sum() / df.shape[0]) * 100.0
    })
    df_duplicados["Porcentaje de Duplicados"] = df_duplicados["Porcentaje de Duplicados"].astype(str) + "%"
    return df_duplicados

In [55]:
suma_duplicados(df_filtrado_le)

                      Numero de Duplicados Porcentaje de Duplicados
id                                       0                     0.0%
n_victimas                               0                     0.0%
aaaa                                     0                     0.0%
mm                                       0                     0.0%
dd                                       0                     0.0%
fecha                                    0                     0.0%
hora                                     0                     0.0%
franja_hora                              0                     0.0%
direccion_normalizada                    0                     0.0%
comuna                                   0                     0.0%
tipo_calle                               0                     0.0%
otra_direccion                           0                     0.0%
calle                                    0                     0.0%
altura                                 0.0                     0.0%
cruce                                    0                     0.0%
geocodificacion_CABA                     0                     0.0%
longitud                                 0                     0.0%
latutid                                  0                     0.0%
victima                                  0                     0.0%
acusado                                  0                     0.0%
participantes                            0                     0.0%
moto                                     0                     0.0%
auto                                     0                     0.0%
transporte_publico                       0                     0.0%
camion                                   0                     0.0%
ciclista                                 0                     0.0%
gravedad                                 0                     0.0%

In [56]:
# Veamos si hay valores faltantes
def nulls(df, decimales=2):
    df_nulos = pd.DataFrame({
        "Numero de nulos" : df.isnull().sum(),
        "Porcentaje de nulos" : (df.isnull().sum() / df.shape[0]) * 100.0
    })    
    df_nulos["Porcentaje de nulos"] = df_nulos["Porcentaje de nulos"].round(decimales).astype(str) + "%" 
    return df_nulos

In [57]:
nulls(df_filtrado_le, decimales=2)

                       Numero de nulos Porcentaje de nulos
id                                   0                0.0%
n_victimas                           0                0.0%
aaaa                                 0                0.0%
mm                                   0                0.0%
dd                                   0                0.0%
fecha                                0                0.0%
hora                                 0                0.0%
franja_hora                          0                0.0%
direccion_normalizada               24               0.24%
comuna                               0                0.0%
tipo_calle                           0                0.0%
otra_direccion                    9934              99.78%
calle                               23               0.23%
altura                               3               0.03%
cruce                             2647              26.59%
geocodificacion_CABA                 0                0.0%
longitud                             0                0.0%
latutid                              0                0.0%
victima                           1264               12.7%
acusado                           2156              21.66%
participantes                        0                0.0%
moto                                 0                0.0%
auto                                 0                0.0%
transporte_publico                   0                0.0%
camion                               0                0.0%
ciclista                             0                0.0%
gravedad                          9578               96.2%

In [58]:
# Borraremos las columnas con  90% de valores faltantes 
df_filtrado_le = df_filtrado_le.drop(columns=['gravedad', 'otra_direccion'])

In [59]:
# Columnas no necesarias 
# Borraremos las columas carro, moto, camion, ciclista, transporte publico
df_filtrado_le = df_filtrado_le.drop(columns=['moto',	'auto', 'transporte_publico',	'camion',	'ciclista'])

In [60]:
# Eliminaremos los valores faltantes
df_filtrado_le = df_filtrado_le.dropna(subset=['direccion_normalizada', 'calle', 'altura', 'victima'])
df_filtrado_le.shape

(8667, 20)

In [61]:
df_filtrado_le.columns

Index(['id', 'n_victimas', 'aaaa', 'mm', 'dd', 'fecha', 'hora', 'franja_hora',
       'direccion_normalizada', 'comuna', 'tipo_calle', 'calle', 'altura',
       'cruce', 'geocodificacion_CABA', 'longitud', 'latutid', 'victima',
       'acusado', 'participantes'],
      dtype='object')

In [62]:
# Cambiamos el tipo de dato a la columna hora
df_filtrado_le['hora'] = df_filtrado_le['hora'].astype(str)

In [63]:
# Para el analisis necesitamos del anio 2016 al 2021, revisemos cuantos anio tenemos 
filtro = df_filtrado_le['aaaa'].unique()
print(filtro)

[2020 2021]

In [64]:
# Reseteamos el inidce 
df_filtrado_le.reset_index()

,index,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,...,tipo_calle,calle,altura,cruce,geocodificacion_CABA,longitud,latutid,victima,acusado,participantes
0,10073,LC-2020-0002346,1,2020,1,2,2020-01-02 00:00:00,01:00:00 p.m.,13,ALVEAR AV. y AYACUCHO,...,AVENIDA,ALVEAR AV.,0.0,AYACUCHO,Point (106797.883397132 104615.00964936),-58.389203129482,-34.587646270159,CICLISTA,AUTO,CICLISTA-AUTO
1,10074,LC-2020-0003142,1,2020,1,2,2020-01-02 00:00:00,04:15:00 p.m.,16,CASTELLI 147,...,CALLE,CASTELLI,147.0,NaN,Point (105393.859084365 102333.999776285),-58.404492539573,-34.608216527535,CICLISTA,AUTO,CICLISTA-AUTO
2,10075,LC-2020-0003360,1,2020,1,2,2020-01-02 00:00:00,05:10:00 p.m.,17,"SANTA FE AV. y CARRANZA, ANGEL JUSTINIANO",...,AVENIDA,SANTA FE AV.,0.0,"CARRANZA, ANGEL JUSTINIANO",Point (102912.149263197 105841.419526443),-58.431561455891,-34.576609010579,CICLISTA,NaN,CICLISTA-SD
3,10076,LC-2020-0004057,1,2020,1,3,2020-01-03 00:00:00,03:20:00 a.m.,3,GURRUCHAGA y MUÃƒâ€˜ECAS,...,CALLE,GURRUCHAGA,0.0,MUÃƒâ€˜ECAS,Point (101609.477757533 103183.144235567),-58.445753737126,-34.600574687554,CICLISTA,AUTO,CICLISTA-AUTO
4,10077,LC-2020-0004991,1,2020,1,3,2020-01-03 00:00:00,12:00:00 p.m.,12,IGUAZU y LOS PATOS,...,CALLE,IGUAZU,0.0,LOS PATOS,Point (105227.781738843 98665.3391749365),-58.406280836490,-34.641288112398,CICLISTA,NaN,CICLISTA-SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8662,23741,LC-2021-0649913,2,2021,12,29,2021-12-29 00:00:00,23:05:00,23,MONROE y LUGONES,...,CALLE,MONROE,0.0,LUGONES,Point (98469.8480987242 106509.331037645),-58.479974565610,-34.570590892387,MOTO,MOTO,MOTO-MOTO
8663,23745,LC-2021-0650254,1,2021,12,30,2021-12-30 00:00:00,02:10:00,2,"PARAGUAY y SCALABRINI ORTIZ, RAUL AV.",...,CALLE,PARAGUAY,0.0,"SCALABRINI ORTIZ, RAUL AV.",Point (103956.90165674 104600.930567751),-58.420169543531,-34.587787905454,PEATON,AUTO,PEATON-AUTO
8664,23746,LC-2021-0650349,1,2021,12,30,2021-12-30 00:00:00,06:38:00,6,DONADO 1486,...,CALLE,DONADO,1486.0,NaN,Point (99285.1360729798 105637.57805107),-58.471090591307,-34.578450215566,MOTO,AUTO,MOTO-AUTO
8665,23768,LC-2021-0652048,1,2021,12,31,2021-12-31 00:00:00,01:45:00,1,"BARCO CENTENERA DEL AV. y BARROS PAZOS, JOSE",...,AVENIDA,BARCO CENTENERA DEL AV.,0.0,"BARROS PAZOS, JOSE",Point (102952.318229393 98152.8529494564),-58.431097422663,-34.645916806076,MOTO,CAMION,MOTO-CAMION
8666,23783,LC-2021-0652921,1,2021,12,31,2021-12-31 00:00:00,22:00:00,22,LINIERS VIRREY y MORENO,...,CALLE,LINIERS VIRREY,0.0,MORENO,Point (104472.702045632 101660.930364258),-58.414532050899,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO-TRANSPORTE PUBLICO

##### Parquet

In [65]:
df_filtrado_le.to_parquet("lesiones.parquet")

#### Hechos

In [66]:
df_facts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  DirecciÃ³n Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [75]:
df_facts.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,DirecciÃ³n Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,0.0,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,0.0,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,0.0,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÃ‘A,AVENIDA,...,0.0,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃƒâ€˜A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [67]:
nulls(df_facts, decimales=2)

                       Numero de nulos Porcentaje de nulos
ID                                   0                0.0%
N_VICTIMAS                           0                0.0%
FECHA                                0                0.0%
AAAA                                 0                0.0%
MM                                   0                0.0%
DD                                   0                0.0%
HORA                                 0                0.0%
HH                                   0                0.0%
LUGAR_DEL_HECHO                      0                0.0%
TIPO_DE_CALLE                        0                0.0%
Calle                                1               0.14%
Altura                             567              81.47%
Cruce                              171              24.57%
DirecciÃ³n Normalizada                8               1.15%
COMUNA                               0                0.0%
XY (CABA)                            0                0.0%
pos x                                0                0.0%
pos y                                0                0.0%
PARTICIPANTES                        0                0.0%
VICTIMA                              0                0.0%
ACUSADO                              0                0.0%

In [68]:
# El valor de Altura lo vamos a remplazar por cero 
df_facts['Altura'] = df_facts['Altura'].fillna(0)
df_facts['Altura'].isna().sum()

0

In [69]:
Duplicados = df_facts[df_facts.duplicated()]

Duplicados_numericos = Duplicados.select_dtypes(exclude=["datetime64"])

suma_duplicados = Duplicados_numericos.sum()

print(suma_duplicados)

ID                         0
N_VICTIMAS                 0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      0
Altura                   0.0
Cruce                      0
DirecciÃ³n Normalizada      0
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: object

In [70]:
# Para poder el archivo en parquet hay que cambiar SD de esta columna 
df_facts['HH'] = df_facts['HH'].replace("SD", pd.NA)
df_facts['HH'].isna().sum()

1

In [71]:
# Como solo es un valor lo eliminaremos
df_facts = df_facts.dropna(subset=['HH'])

In [72]:
# Cambiamos el tipo de dato a la columna hora
df_facts['HORA'] = df_facts['HORA'].astype(str)

##### parquet

In [74]:
df_facts.to_parquet("hechos.parquet")

### Concatenar los archivos lesiones y hechos 
contienen misma columnas mas informacion mejor analisis

In [29]:
# Creamos una columna nueva llamada LUGAR_DEL_HECHO
df_filtrado_le['LUGAR_DEL_HECHO'] = df_filtrado_le['direccion_normalizada']

In [32]:
df_filtrado_le.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8667 entries, 10073 to 23783
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     8667 non-null   object
 1   N_VICTIMAS             8667 non-null   int64
 2   AAAA                   8667 non-null   int64
 3   MM                     8667 non-null   int64
 4   DD                     8667 non-null   int64
 5   FECHA                  8667 non-null   object
 6   HORA                   8667 non-null   object
 7   HH                     8667 non-null   object
 8   DirecciÃ³n Normalizada  8667 non-null   object
 9   COMUNA                 8667 non-null   object
 10  TIPO_DE_CALLE          8667 non-null   object
 11  Calle                  8667 non-null   object
 12  altura                 8667 non-null   float64
 13  Cruce                  6455 non-null   object
 14  XY (CABA)              8667 non-null   object
 15  pos x                  8667 non-null   object
 16  pos y                  8667 non-null   object
 17  VICTIMA                8667 non-null   object
 18  ACUSADO                7687 non-null   object
 19  PARTICIPANTES          8667 non-null   object
 20  LUGAR_DEL_HECHO        8667 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 1.5+ MB

In [40]:
# Cambiamos los nombres de los dataframe df_filtrado_le para que se parezca a df_facts
df_filtrado_le.rename(columns= {
    'id': 'ID',
    'n_victimas'            : 'N_VICTIMAS',
    'fecha'                 : 'FECHA',
    'aaaa'                  : 'AAAA',
    'mm'                    : 'MM',
    'dd'                    : 'DD',
    'hora'                  : 'HORA',
    'franja_hora'           : 'HH',
    'LUGAR_DEL_HECHO'       : 'LUGAR_DEL_HECHO',
    'tipo_calle'            : 'TIPO_DE_CALLE',
    'calle'                 : 'Calle',
    'altura'                : 'Altura',
    'cruce'                 : 'Cruce',
    'direccion_normalizada' : 'DirecciÃ³n Normalizada',
    'comuna'                : 'COMUNA',
    'geocodificacion_CABA'  : 'XY (CABA)',
    'longitud'              : 'pos x',
    'latutid'               : 'pos y',
    'participantes'         : 'PARTICIPANTES',
    'victima'               : 'VICTIMA',
    'acusado'               : 'ACUSADO'
}, inplace= True )

In [41]:
# Concatenar los Dataframes Verticalmente 
df_hechos = pd.concat([df_facts, df_filtrado_le], axis=0)

# Restablecemos los indices 
df_hechos.reset_index(drop=True, inplace=True)

In [42]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9362 entries, 0 to 9361
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     9362 non-null   object
 1   N_VICTIMAS             9362 non-null   int64
 2   FECHA                  9362 non-null   object
 3   AAAA                   9362 non-null   int64
 4   MM                     9362 non-null   int64
 5   DD                     9362 non-null   int64
 6   HORA                   9362 non-null   object
 7   HH                     9362 non-null   object
 8   LUGAR_DEL_HECHO        9362 non-null   object
 9   TIPO_DE_CALLE          9362 non-null   object
 10  Calle                  9361 non-null   object
 11  Altura                 9362 non-null   float64
 12  Cruce                  6979 non-null   object
 13  DirecciÃ³n Normalizada  9354 non-null   object
 14  COMUNA                 9362 non-null   object
 15  XY (CABA)              9362 non-null   object
 16  pos x                  9362 non-null   object
 17  pos y                  9362 non-null   object
 18  PARTICIPANTES          9362 non-null   object
 19  VICTIMA                9362 non-null   object
 20  ACUSADO                8382 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 1.5+ MB

In [43]:
# Veamos valores  faltantes
nulls(df_hechos, decimales=2)

                       Numero de nulos Porcentaje de nulos
ID                                   0                0.0%
N_VICTIMAS                           0                0.0%
FECHA                                0                0.0%
AAAA                                 0                0.0%
MM                                   0                0.0%
DD                                   0                0.0%
HORA                                 0                0.0%
HH                                   0                0.0%
LUGAR_DEL_HECHO                      0                0.0%
TIPO_DE_CALLE                        0                0.0%
Calle                                1               0.01%
Altura                               0                0.0%
Cruce                             2383              25.45%
DirecciÃ³n Normalizada                8               0.09%
COMUNA                               0                0.0%
XY (CABA)                            0                0.0%
pos x                                0                0.0%
pos y                                0                0.0%
PARTICIPANTES                        0                0.0%
VICTIMA                              0                0.0%
ACUSADO                            980              10.47%

In [45]:
df_hechos.tail()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,DirecciÃ³n Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
9357,LC-2021-0649913,2,2021-12-29 00:00:00,2021,12,29,23:05:00,23,MONROE y LUGONES,CALLE,...,0.0,LUGONES,MONROE y LUGONES,12,Point (98469.8480987242 106509.331037645),-58.479974565610,-34.570590892387,MOTO-MOTO,MOTO,MOTO
9358,LC-2021-0650254,1,2021-12-30 00:00:00,2021,12,30,02:10:00,2,"PARAGUAY y SCALABRINI ORTIZ, RAUL AV.",CALLE,...,0.0,"SCALABRINI ORTIZ, RAUL AV.","PARAGUAY y SCALABRINI ORTIZ, RAUL AV.",14,Point (103956.90165674 104600.930567751),-58.420169543531,-34.587787905454,PEATON-AUTO,PEATON,AUTO
9359,LC-2021-0650349,1,2021-12-30 00:00:00,2021,12,30,06:38:00,6,DONADO 1486,CALLE,...,1486.0,NaN,DONADO 1486,15,Point (99285.1360729798 105637.57805107),-58.471090591307,-34.578450215566,MOTO-AUTO,MOTO,AUTO
9360,LC-2021-0652048,1,2021-12-31 00:00:00,2021,12,31,01:45:00,1,"BARCO CENTENERA DEL AV. y BARROS PAZOS, JOSE",AVENIDA,...,0.0,"BARROS PAZOS, JOSE","BARCO CENTENERA DEL AV. y BARROS PAZOS, JOSE",4,Point (102952.318229393 98152.8529494564),-58.431097422663,-34.645916806076,MOTO-CAMION,MOTO,CAMION
9361,LC-2021-0652921,1,2021-12-31 00:00:00,2021,12,31,22:00:00,22,LINIERS VIRREY y MORENO,CALLE,...,0.0,MORENO,LINIERS VIRREY y MORENO,5,Point (104472.702045632 101660.930364258),-58.414532050899,-34.614288229345,MOTO-TRANSPORTE PUBLICO,MOTO,TRANSPORTE PUBLICO

In [76]:
# Remplazamos los valores faltantes en SD 
# En la columna Victima 
df_hechos['VICTIMA'] = df_hechos['VICTIMA'].replace(pd.NA, "SD",)
# En la columna Cruce
df_hechos['Cruce'] = df_hechos['Cruce'].replace(pd.NA, "SD",)

In [77]:
# Verificamos si hay valores faltantes
df_hechos[['VICTIMA', 'Cruce']].isna().sum()

VICTIMA    0
Cruce      0
dtype: int64

##### parquet

In [78]:
df_hechos.to_parquet("data_hechos.parquet")

#### Victimas

In [70]:
df_vict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [71]:
nulls(df_vict, decimales=2)

                     Numero de nulos Porcentaje de nulos
ID_hecho                           0                0.0%
FECHA                              0                0.0%
AAAA                               0                0.0%
MM                                 0                0.0%
DD                                 0                0.0%
ROL                                0                0.0%
VICTIMA                            0                0.0%
SEXO                               0                0.0%
EDAD                               0                0.0%
FECHA_FALLECIMIENTO                0                0.0%

In [72]:
Duplicados = df_vict[df_vict.duplicated()]

Duplicados_numericos = Duplicados.select_dtypes(exclude=["datetime64"])

suma_duplicados = Duplicados_numericos.sum()

print(suma_duplicados)

ID_hecho               0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: object

In [73]:
df_vict.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [75]:
df_vict['EDAD'] = df_vict['EDAD'].replace("SD", pd.NA)
df_vict['EDAD'].isna().sum()

53

In [79]:
df_vict['FECHA_FALLECIMIENTO'] = df_vict['FECHA_FALLECIMIENTO'].astype(str)

##### parquet

In [80]:
df_vict.to_parquet("victimas.parquet")